# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
.venv/
venv/
.env

# Distribution / packaging
build/
dist/

# Testing
.pytest_cache/

# IDE
.vscode/

# Project-specific
transcripts/
recordings/
.gitattributes
