# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env
# pytest cache
.pytest_cache/
# Distribution / packaging
build/
dist/
*.egg-info/

.vscode/
Transcripts/*
recordings/*

.gitattributes
